nav{
    display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      border:solid gray 1px;
      font-size:30px;
      margin-bottom:10px;
  }
  #grid2{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
  body{
    height : 100%;
    width : 100%;
    background-image: url("./image/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    overflow:hidden;
}
span{
    color:white;
}
div{
  color:white;
}
article{
  color:white;
}
a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
